.main{
    background: linear-gradient(45deg, rgb(62, 42, 151),rgb(0, 225, 255));
    max-width: 500px;
    padding: 50px;
    margin-left: 15%;
    margin-top: 10%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    border-radius: 15%;
    color: #fff;
}
.main button{
    display: inline;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}
body {
    margin: 0;padding: 0;
}
.main button:hover{
    background-color: red;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
}
img{
    
    height: 250px;
    width: 250px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 10px 20px  rgba(0, 0, 0, 1);
}
header{
    background-color: orange;
    font-size: 50px;
}
footer {
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.style {
    background-color:orange;
}
.img  p{
    margin-left: 100px;
}
.img{
    display: inline-block;
}
